{% extends 'base.html' %}

{% block html_tag_extra%}ng-app="Smapchat" ng-controller="SmapchatCtrl"{% endblock %}

{% block title %}smapchat{% endblock %}

{% block content %}

<div ng-show="loading" class="loading"><img src=""/>LOADING...</div>
<div ng-show="!loading">
  <div class="col-sm-3 col-md-2 sidebar">
    {% include 'sidenav.html' %}          
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div>
      <div ng-show="loading" class="loading"><img src=""/>LOADING...</div>
      <div ng-show="!loading" class="jumbotron">
        <h1>{$ eventInformation.name $}</h1>

        <div ng-view></div>
        
        <!--
        <div ng-show="!map"><h1>This event has no maps.</h1></div>
        <div ng-show="map">

          <div id="messages">
            <div class="message" ng-repeat="message in messages">
              <span class="author">{$ message.author $}</span>
              <span class="content">{$ message.content $}</span>
            </div>
          </div>

          <form ng-submit="sendMessage()">
            <input ng-model="author">
            <input ng-model="messageContent">
            <input type="submit">
          </form>
        </div>
        -->
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>
<script src="//cdn.goinstant.net/v1/platform.min.js"></script>
<script src="//cdn.goinstant.net/integrations/goangular/latest/goangular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/q.js/1.0.0/q.min.js"></script>

<!-- Angular App -->
<script src="/static/js/app.js"></script>
<script src="/static/js/controllers.js"></script>
{% endblock %}