{% extends 'base.html' %}

{% block html_tag_extra%}ng-app="Smapchat"{% endblock %}

{% block title %}smapchat{% endblock %}

{% block content %}
<div ng-controller="SmapchatCtrl">
  <div ng-show="loading" class="loading"><img src=""/>LOADING...</div>
  <div ng-show="!loading" class="jumbotron">
    <h1>{$ eventInformation.name $}<h1>

    <!-- Messages displayed -->
    <div id="messages">
      <div class="message" ng-repeat="message in messages">
        <span class="author">{$ message.author $}</span>
        <span class="content">{$ message.content $}</span>
      </div>
    </div>

    <!-- New message form -->
    <form ng-submit="sendMessage()">
      <input ng-model="author">
      <input ng-model="messageContent">
      <input type="submit">
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
<script src="//cdn.goinstant.net/v1/platform.min.js"></script>
<script src="//cdn.goinstant.net/integrations/goangular/latest/goangular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/q.js/1.0.0/q.min.js"></script>

<!-- Angular App -->
<script>
//*
  var chatApp = angular.module('Smapchat', ['goangular']);

  chatApp.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('{$');
      $interpolateProvider.endSymbol('$}');
  });

  chatApp.config(function($goConnectionProvider) {
    $goConnectionProvider.$set('https://goinstant.net/90cc363c5211/mchacks');
  });

  chatApp.controller('SmapchatCtrl', function($scope, $goKey, $http) {
    $scope.loading = true;
    $scope.messages = $goKey('messages');
    $scope.messages.$sync();

    var dataSynced = Q.defer();

    $scope.messages.$on('ready', function() {
      dataSynced.resolve();
    });


    Q.all([
      $http.get('/event/1.json'),
      dataSynced
    ]).done(function(results) {
      $scope.eventInformation = results[0].data;

      $scope.loading = false;
    })

    $scope.sendMessage = function() {
      var message = {
        content: $scope.messageContent,
        author: $scope.author
      };

      // Each method returns a promise, we can use that to confirm that item was
      // added successfully
      $scope.messages.$add(message).then(function() {
        $scope.messageContent = '';
      });
    }

  });
//*/
</script>
{% endblock %}