<div class="popover">
  <div class="arrow"></div>
  <h3 class="popover-title">
    <div style="margin-left:auto;margin-right:auto;text-align:center;">
      <img src="http://graph.facebook.com/{{ profile.user.username }}/picture?width=64&height=64" style="border-radius:3px;">
    </div>
    <div style="text-align:center;"><h4>{{ profile.full_name }}</h4></div>
  </h3>
  <div class="popover-content">
    <button type="button" class="btn btn-lg btn-primary" data-template="/contact-dialog/8" data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body">Contact me</button>
  </div>
</div>      