{% extends 'page.html' %}

{% block title %}smapchat{% endblock %}
{% load staticfiles %}

{% block page_content %}
<center>
<img src="http://graph.facebook.com/{{ profile.user.username }}/picture?width=128&height=128" style="border-radius:3px;">
<h1>Send message to {{profile.full_name}}</h1>
<p>
	<form action="/send" method="post">{% csrf_token %}
	<input type="hidden"  value="{{profile.user_id}}" name="to">
	<input type="text" name="subject" value="Subject"><br><br>
	<textarea rows="2" cols="30" name="body">Hello.</textarea>
	<br><br>
	<input type="submit" value="Submit" class="btn btn-lg btn-primary"></input><br><br>
	</form>
</p>
</center>
{% endblock %}
