<div style="text-align:center;"><i>{$ map.name $}</i></div>
<div style="position:relative">
    <img ng-click="clickMapPosition($event)" src="{$ map.source $}" width=100% height=80%/>
    <div ng-repeat="pin in savedPins.$omit()" style="position:absolute;top:{$ Math.round(pin.y * imageHeight) $}px;left:{$ Math.round(pin.x * imageWidth) $}px;">
       <img src="/static/img/pin.png" style="cursor:pointer;" data-placement="top-right" data-template="/user/{$ pin.id $}" data-trigger="click" bs-popover="popover" />

    </div>
</div>
